#*
This file allows you to override and define new Velocity variables.
*#

#set ($mainMessage = $theme.getSetting("main-message"))
#set ($submessage = $theme.getSetting("submessage"))
#set ($findOutMoreLink = $theme.getSetting("find-pot-more-link"))
#set ($headerDark =  "#if($theme.getSetting('header-dark')==true)text-color-dark#{else}text-color-light#end")
#set ($headerDarkBtn =  "#if($theme.getSetting('header-dark-btn')==true)btn-dark#{else}btn-light#end")

