<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="icon-reorder"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="icon-remove"></i></a>
        <li class="sidebar-brand">
            <a href="#top"  onclick = $("#menu-close").click(); >$site_name</a>
            #if (!$is_signed_in)
                <a data-redirect="$is_login_redirect_required" href="$sign_in_url" id="sign-in" rel="nofollow">$sign_in_text</a>
            #else
                <a data-redirect="$is_login_redirect_required" href="$sign_out_url" id="sign-in" rel="nofollow">$sign_out_text</a>
            #end
        </li>
##
##		#foreach ($nav_item in $nav_items)
##			#set ($nav_item_attr_has_popup="")
##			#set ($nav_item_attr_selected="")
##			#set ($nav_item_css_class = "")
##
##			#if ($nav_item.isSelected())
##				#set ($nav_item_attr_selected="aria-selected='true'")
##				#set ($nav_item_css_class = "selected")
##			#end
##
##
##            <li class="$nav_item_css_class" id="layout_$nav_item.getLayoutId()" $nav_item_attr_selected role="presentation">
##                <a aria-labelledby="layout_$nav_item.getLayoutId()" href="$nav_item.getURL()" $nav_item_attr_has_popup $nav_item.getTarget() role="menuitem"><span>$theme.layoutIcon($nav_item.getLayout()) $nav_item.getName()</span></a>
##            </li>
##		#end


    </ul>
</nav>
