<!DOCTYPE html>

    #parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
    <title>$the_title - $company_name</title>

    <meta content="initial-scale=1.0, width=device-width" name="viewport"/>

    $theme.include($top_head_include)
</head>

<body class="$css_class mt">

    $theme.include($body_top_include)

    #product_menu_sidebar($liferay_product_menu_state)

    #control_menu()

<div class="container-fluid" id="wrapper">
    #if ($has_navigation && $is_setup_complete)
        #parse ("$full_templates_path/navigation.vm")
    #end

    <header id="top" class="header">
        <div class="text-vertical-center">
            <div class="$headerDark">
                <h1>$mainMessage</h1>
                <h3>$submessage</h3>
            </div>
            <br/>
            <a href="$findOutMoreLink" class="btn $headerDarkBtn  btn-lg">Find Out More</a>
        </div>
    </header>

    <div id="content" class="text-center">
        #if ($selectable)
			$theme.include($content_include)
		#else
            $portletDisplay.recycle()

            $portletDisplay.setTitle($the_title)

            $theme.wrapPortlet("portlet.vm", $content_include)
        #end
    </div>


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <hr>
                    <p class="text-muted">
                        #language ("powered-by") <a href="http://www.liferay.com" rel="external">Liferay</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>
<script type="text/javascript">
    $("#top").css("background-image", "url('$site_logo')");

    $("#menu-close").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function () {
        $('#wrapper  a[href*=#]:not([href=#])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>

    $theme.include($body_bottom_include)

    $theme.include($bottom_include)

</body>

</html>